*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav{
    background: #1c4b82;
}
#navbarNav{
    font-size: 20px;
    font-weight: 500;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana;
}
#intro{
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 5rem;
}
 
#icon{
     position: fixed;
     right: 24%;
}
p{
    font-family: Arial, Helvetica, sans-serif;
}
.change{
    filter: invert(1);
    width: 30px;
}
#night{
    display: none;
}
#skills{
    text-decoration: underline;
    text-underline-offset: 5px;
}
.shadow{
    box-shadow: 20px 10px 100px 10px white;
    border-radius: 5px;
    padding: 5px 0;
}
.img{
    width: 30px;
    margin-right: 10px;
}
#changeBg{
    padding: 20px 0;
    background: #082032;
}
.clip{
    height: 2px;
    border-radius: 10%;
    background: white;
}
footer{
    background:  #1c4b82;;
    padding: 2rem 0px;
    color: aliceblue;
    font-weight: 600;
}
.rounded-circle{
    position: relative;
    height: 20rem;
    width: 20rem;
    border: 5px solid salmon;
}
.rounded-circle img{
    position: absolute;
    top: -1px;
    height: 19.5rem;
    width: 19.5rem;
    border-radius: 50%;
    object-fit: contain;
}