@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&family=Pacifico&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Caveat', cursive;
    font-weight: 700;
}
nav{
    background: #1c4b82;
}

#myName{
    font-size: 50px;
}
p{
    font-size: 1.5rem;
}

#navbarNav{
    font-size: 20px;
    font-weight: 500;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana;
}
#intro{
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 5rem;
}
 
#icon{
     position: fixed;
     right: 24%;
}
p{
    font-family: Arial, Helvetica, sans-serif;
}
.change{
    filter: invert(1);
    width: 30px;
}
#night{
    display: none;
}
#skills, .contact{
    text-decoration: underline;
    text-underline-offset: 5px;
}
.shadow{
    box-shadow: 20px 10px 100px 10px white;
    border-radius: 5px;
    padding: 5px 0;
}
.img{
    width: 30px;
    margin-right: 10px;
}
#changeBg{
    padding: 20px 0;
    background: #082032;
}
.clip{
    height: 2px;
    border-radius: 10px;
}
#clip1{
    background: linear-gradient(to right, white 95%,  #082032 5%);
}
#clip2{
    background: linear-gradient(to right, white 50%,  #082032 50%);
}
#clip{
    background: linear-gradient(to right, white 60%,  #082032 40%);
}
#clip3{
    background: linear-gradient(to right, white 70%,  #082032 30%);
}
#clip4{
    background: linear-gradient(to right, white 65%,  #082032 35%);
}
#clip5{
    background: linear-gradient(to right, white 30%,  #082032 70%);
}
footer{
    background:  #1c4b82;;
    padding: 2rem 0px;
    color: aliceblue;
    font-weight: 600;
}
.rounded-circle{
    position: relative;
    height: 20rem;
    width: 20rem;
    border: 5px solid salmon;
}
.rounded-circle img{
    position: absolute;
    top: -1px;
    height: 19.5rem;
    width: 19.5rem;
    border-radius: 50%;
    object-fit: contain;
}
.goLive{
    font-size: 0.5rem;
}
.img-fluid1{
    width: 3rem;
    border-radius: 100%;
}